.xp-bar{

height:16px;

background:#E5EEF2;

border-radius:20px;

overflow:hidden;

margin-top:15px;

}

.xp-fill{

height:100%;

width:35%;

background:#63C8D9;

transition:.6s;

}

.badge-card{

background:#fff;

padding:20px;

margin:15px 0;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

}

.badge-card:hover{

transform:translateY(-6px);

}

.reward-popup{

position:fixed;

top:30px;

right:30px;

background:#63C8D9;

color:white;

padding:20px;

border-radius:16px;

display:none;

z-index:999;

font-weight:bold;

}